# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Builds / Binaries
/**/bin/
/**/obj/

# JetBrains IDEs
/.idea/

# Visual Studio
*.vcxproj.user
*.sln.docstates
*.suo
*.user
*.aps
*.opensdf
*.sdf
